# ----------------------------------------------------------------------
# Default Behaviour
# ----------------------------------------------------------------------
*                                   text=auto

# ----------------------------------------------------------------------
# Diff
# ----------------------------------------------------------------------
*.java                              diff=java

# ----------------------------------------------------------------------
# Export Ignore
# ----------------------------------------------------------------------
.gitattributes                      export-ignore
.gitignore                          export-ignore
